<md-menu-bar role="menubar">
    <md-menu md-position-mode="left bottom" >
        <md-button  ng-click="filterButtonVM.openMenu($mdOpenMenu, $event)">
            Добавить фильтр
        </md-button>
        <md-menu-content width="3">
            <md-menu-item ng-repeat="field in filterButtonVM.fields" ng-if="field.formly!='object'&& field.parent==null">
                <md-button ng-click="filterButtonVM.createFilter(field)">
                    {{field.title}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>