<form name="savedFilter">
    <md-input-container>
        <label>Имя сохраненного фильтра</label>
        <input name="lastName" placeholder="Новый фильтр" required style="font-size: 25px" ng-model="filterFieldsVM.filter.saveFilterName">
    </md-input-container>
    <md-button type="submit" style="padding:0 6px" ng-click="filterFieldsVM.saveFilter(filterFieldsVM.filter.saveFilterName)" class="md-primary md-raised"><div ng-if="!filterFieldsVM.filter.saveFilter.selectedItem">Сохранить</div><div ng-if="filterFieldsVM.filter.saveFilter.selectedItem">Обновить</div></md-button>
    <md-button style="padding:0" ng-click="filterFieldsVM.removeSavedFilters(filterFieldsVM.filter.saveFilter.selectedItem)" class=" md-danger">Удалить</md-button>
</form>

<form novalidate>
        <formly-form model="filterFieldsVM.filter.model" fields="filterFieldsVM.filter.schema" options="filterFieldsVM.options" >
            <md-button ng-if="filterFieldsVM.filter.exist()" ng-click="filterFieldsVM.cancelFilter()">Отменить</md-button>
            <md-button ng-if="filterFieldsVM.filter.exist()" type="submit" class="md-primary md-raised" ng-click="filterFieldsVM.submit()" ng-disabled="vm.form.$invalid">Применить</md-button>
            <!--<md-button ng-if="!filterFieldsVM.filter.saveFilter.selectedItem"  class="md-primary md-raised" ng-click="filterFieldsVM.saveFilter()">Сохранить фильтр</md-button>-->
        </formly-form>
 </form>

 <!--<input ng-model="filterFieldsVM.test.name">-->
<!--<md-button ng-click="filterFieldsVM.saveFilter()">Сохранить фильтр</md-button>-->