<md-input-container ng-if="filterFieldsVM.filter.saveFilter.selectedItem">
    <label>Имя сохраненного фильтра</label>
    <input style="font-size: 25px" ng-model="filterFieldsVM.filter.saveFilter.selectedItem.name">
</md-input-container>
<form novalidate>
        <formly-form model="filterFieldsVM.filter.model" fields="filterFieldsVM.filter.schema" options="filterFieldsVM.options" >
            <md-button ng-if="filterFieldsVM.filter.exist()" type="submit" ng-click="filterFieldsVM.submit()" ng-disabled="vm.form.$invalid">Применить</md-button>
            <md-button ng-if="!filterFieldsVM.filter.saveFilter.selectedItem" class="md-primary md-raised" ng-click="filterFieldsVM.showPrompt($event)">Сохранить фильтр</md-button>
            <md-button ng-if="filterFieldsVM.filter.saveFilter.selectedItem" class="md-primary md-raised">Обновить сохраненный фильтр</md-button>
            <md-button ng-if="filterFieldsVM.filter.saveFilter.selectedItem" class=" md-danger">Удалить сохраненный фильтр</md-button>
        </formly-form>
 </form>

 <!--<input ng-model="filterFieldsVM.test.name">-->
<!--<md-button ng-click="filterFieldsVM.saveFilter()">Сохранить фильтр</md-button>-->