registry = http://hb.vmc.loc:8081/repository/npm-proxy/
init.author.name = Ser
init.author.email = s.presnyakov@realweb.ru
# an email is required to publish npm packages
email=s.presnyakov@realweb.ru
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=