<div class="middle-box text-center loginscreen  animated fadeInDown gray-bg">
    <div>
        <h3>Major. Вход в систему</h3>
        <p>Введите свой email и пароль</p>
        <div>
            <form ng-submit="vm.login()" name="vm.form" novalidate>
                <formly-form model="vm.cred" fields="vm.fields" options="vm.options" form="vm.form">
                </formly-form>
                <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="vm.form.$invalid">Войти</button>
            </form>
        </div>
        <p class="m-t"> <small>RealWeb &copy; 2016</small> </p>
    </div>
</div>
